#Progress_Status {
    width: 20%;
    background-color: #ddd;
  }


  #myprogressBar {
    width: 1%;
    height: 35px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
  }

.progress-bar {
    --progress: 50;
    width: 30%;
    height:50px;
    padding: 5px;
    background-color:#ccc;
    display:flex;
}

.progress-bar::before {
    content: "";
    width: calc(var(--progress) * 1%);  /* aqui estou chamando
	a variável. Como a
	largura do pseudo-elemento
	estará entre 0% e 100%, temos
	que converter o valor da 
	variável em porcentagem. Para
	isso, basta multiplicar por 1%.
	*/
    background-color:red;
    background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
    transition: all 0.2s ease;
}


.wraper-skills {
   
}

.componenteSkil {
    display:flex;
    margin:10px;
}


.lateral{
    display:flex;
    flex-direction:column;
    width:100%;
    text-align:left;
}








/*.container-barra-progress {
    width: 500px;
    border-radius: 7px;
    display:flex;
    justify-content: center;
    justify-items: center;
    box-shadow: 0 10px 16px 0 #808080;
}

.barra-progress-vazia {
    width: 78%;
    height:9px;
    margin:auto;
    background-color: blanchedalmond;
    border-radius: 10px;
    display:flex;
    align-items: center;
}

.barra-progress {
    height: 7px;
    border-radius:10px;
    background-color:aqua;
}

.porcentage-barra-progress{
    margin-left:auto;
    width: 60px;
    height: 60px;
    background-color:aliceblue;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:8px;
    font-family: cursive;









    

              <div id="Progress_Status">
                <div id="myprogressBar">1%</div>

              </div>
              <button onclick="update()">Start Download</button> 









}*/