.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 38px;
    color: #CC2A2A;
    text-shadow: 4px 4px 0 #000000;

}


.main-title.-second {
    color: #fff;
    text-shadow: none;
    text-align: center;
}
