
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}
ul li {
     display: inline; 
}

.skills {
    background:rebeccapurple;

    height: 800px;
}

.projetos {
    height: 520px;
    background:rebeccapurple;
}


.sobre {
    height: 783px;
}


.contatos {
    height: 783px;
    background-color: red;
}