
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #848FA5;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
}
.logo {
    color: #CC2A2A;
    text-shadow: 3px 2px 0 #000000;
}
nav {
    text-align: right;
}
ul {
    list-style: none;
}
ul li {
     display: inline; 
}
a {
    display: inline-flex;
    align-items: center;
   
    color: #fff;
    font-style: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
a::before {/*é um pseudo elemento por isso os dois pontos :: */
    content: " ";/*É obrigatorio porque tudo precissa de conteudo */
    display: inline-block;
    background-color: #CC2A2A;
    width: 10px;
    height: 10px;
    margin-right:10px;
    /*
    vertical-align: middle;*/
}

a:hover {
    color: #BFD1E5;
}

/*
span {
    display: inline-block;
    background-color: #A50104;
    width: 10px;
    height: 10px;
    margin-right:10px;
    
    vertical-align: middle;
}*/
#button {
   display: inline-block; 
   background-color: #CC2A2A;
   box-shadow: 5px 5px 0 #000000;
   padding: 18px 20px;
   margin-right: 0;
   transition: 90ms ease-in-out;
}

#button:hover {
    transform: scale(1.05);
}

